In [1]:
import numpy as np
import pandas as pd

## 一、索引器
## 1.表的列索引

列索引是最常见的索引形式，一般通过[]来实现。通过 [列名]可以从DataFrame中取出相应的列，返回值为Series，例如从表中取出姓名一列：

In [2]:
df = pd.read_csv('learn_pandas.csv',usecols=['School','Grade','Name','Gender','Weight','Transfer'])
df.head()   # uescols 仅读取列表里的这些列

,School,Grade,Name,Gender,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,46.0,N
1,Peking University,Freshman,Changqiang You,Male,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
3,Fudan University,Sophomore,Xiaojuan Sun,Female,41.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N

In [4]:
df['Name'].head()

0      Gaopeng Yang
1    Changqiang You
2           Mei Sun
3      Xiaojuan Sun
4       Gaojuan You
Name: Name, dtype: object

如果要取出多个列，则可以通过[列名组成的列表]，其返回值为一个DataFrame,如从表中取出姓名和性别两列：

In [5]:
df[['Name','Gender']].head()

             Name  Gender
0    Gaopeng Yang  Female
1  Changqiang You    Male
2         Mei Sun    Male
3    Xiaojuan Sun  Female
4     Gaojuan You    Male

此外，若要取出单列，且列名中不包含空格，则可以用.列名取出，和[列名]是等价的。

In [6]:
df.Name.head()

0      Gaopeng Yang
1    Changqiang You
2           Mei Sun
3      Xiaojuan Sun
4       Gaojuan You
Name: Name, dtype: object

## 2.序列的行索引
#### 【a】以字符串为索引的Series

如果取出单个索引的对应元素，则可以使用[item]，若Series只有单个值对应，则返回这个标量值；如果有多个值对应，则返回Series：

In [7]:
s = pd.Series([1,2,3,4,5,6],index = ['a','b','a','a','a','c'])
s

a    1
b    2
a    3
a    4
a    5
c    6
dtype: int64

In [8]:
s['a']

a    1
a    3
a    4
a    5
dtype: int64

In [9]:
s['b']

2

如果取出多个索引的对应元素，则可以使用[items的列表]：

In [11]:
s[['b','c']]

b    2
c    6
dtype: int64

如果想要取出某两个索引之间的元素，并且这两个索引是在整个索引中唯一出现，则可以使用切片，同时需要注意这里的切片会包含两个端点：

In [15]:
s['c':'b':-2] # -2 step 步长为-2，表示从右开始，跳过一个

c    6
a    4
b    2
dtype: int64

#### 【b】以整数为索引的Series

在使用数据的读入函数时，如果不特别指定所对应的列作为索引，那么会生成从0开始的整数索引为默认索引，当然，任意一组符合长度要求的整数都可以作为索引。

In [16]:
s = pd.Series(['a','b','c','d','e','f'],index = [1,3,1,2,5,4])
s

1    a
3    b
1    c
2    d
5    e
4    f
dtype: object

In [17]:
d = pd.Series(['a','b','c','d','e','f'])
d

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

和字符串一样，如果使用[int]或[int_list]，则可以取出对应索引元素的值：

In [18]:
s[1]

1    a
1    c
dtype: object

In [19]:
s[[2,3]]

2    d
3    b
dtype: object

如果使用整数切片，则会取出对应索引位置的值，不包含右端点：

In [22]:
s[1:-2:2]

3    b
2    d
dtype: object

In [23]:
s[1:-2]

3    b
1    c
2    d
dtype: object

## 3.loc索引器

前面讲到了对DataFrame的列进行选取，下面要讨论其行的选取。对于表而言，有两种索引器，一种是基于元素的loc索引器，另一种是基于位置的iloc索引器。
loc索引器的一般形式是loc[*,*]，其中第一个*代表行的选择，第二个*代表列的选择，如果省略第二个位置写作loc[*]，这个*是指行的筛选。其中，*的位置一共有五类合法对象，分别是：单个元素、元素列表、元素切片、布尔列表以及函数。

In [3]:
df_demo = df.set_index('Name')  # 将 Name 列设为索引
df_demo.head()

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaojuan Sun,Fudan University,Sophomore,Female,41.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N

#### 【a】*为单个元素

此时，直接取出相应的行或列，如果该元素在索引中重复则结果为DataFrame，否则为Series：

In [5]:
df_demo.loc['Qiang Sun']   #多人叫此名字

                                  School      Grade  Gender  Weight Transfer
Name
Qiang Sun            Tsinghua University     Junior  Female    53.0        N
Qiang Sun            Tsinghua University  Sophomore  Female    40.0        N
Qiang Sun  Shanghai Jiao Tong University     Junior  Female     NaN        N

In [6]:
df_demo.loc['Quan Zhao']  # 名字唯一，为Series

School      Shanghai Jiao Tong University
Grade                              Junior
Gender                             Female
Weight                                 53
Transfer                                N
Name: Quan Zhao, dtype: object

也可以同时选择行和列：

In [7]:
df_demo.loc['Qiang Sun','School'] # 返回的Series

Name
Qiang Sun              Tsinghua University
Qiang Sun              Tsinghua University
Qiang Sun    Shanghai Jiao Tong University
Name: School, dtype: object

In [8]:
df_demo.loc['Quan Zhao','School']  # 返回单个元素

'Shanghai Jiao Tong University'

#### 【b】 * 为元素列表

此时，取出列表中所有元素值对应的行或列：

In [9]:
df_demo.loc[['Qiang Sun','Quan Zhao'],['School','Gender']]

                                  School  Gender
Name
Qiang Sun            Tsinghua University  Female
Qiang Sun            Tsinghua University  Female
Qiang Sun  Shanghai Jiao Tong University  Female
Quan Zhao  Shanghai Jiao Tong University  Female

#### 【c】*为切片

之前的Series使用字符串索引时提到，如果是唯一值的起点和终点字符，那么就可以使用切片，并且包含两个端点！！！！，如果不唯一则报错：

In [10]:
df_demo.loc['Gaojuan You':'Gaoqiang Qian','School':'Gender']

                                      School      Grade  Gender
Name
Gaojuan You                 Fudan University  Sophomore    Male
Xiaoli Qian              Tsinghua University   Freshman  Female
Qiang Chu      Shanghai Jiao Tong University   Freshman  Female
Gaoqiang Qian            Tsinghua University     Junior  Female

需要注意的是，如果DataFrame使用整数索引，其使用整数切片的时候和上面字符串索引的要求一致，都是元素切片，包含端点且起点、终点不允许有重复值。

In [18]:
df_loc_slice_demo = df_demo.copy() #深拷贝，对原数据不产生影响
df_loc_slice_demo.index = range(df_demo.shape[0],0,-1) #包头不包尾
df_loc_slice_demo.loc[5:1]

                          School      Grade  Gender  Weight Transfer
5               Fudan University     Junior  Female    46.0        N
4            Tsinghua University     Senior  Female    50.0        N
3  Shanghai Jiao Tong University     Senior  Female    45.0        N
2  Shanghai Jiao Tong University     Senior    Male    71.0        N
1            Tsinghua University  Sophomore    Male    51.0        N

In [16]:
df_loc_slice_demo.loc[5:0]   # 若超过， 取最大子集

                          School      Grade  Gender  Weight Transfer
5               Fudan University     Junior  Female    46.0        N
4            Tsinghua University     Senior  Female    50.0        N
3  Shanghai Jiao Tong University     Senior  Female    45.0        N
2  Shanghai Jiao Tong University     Senior    Male    71.0        N
1            Tsinghua University  Sophomore    Male    51.0        N

#### 【d】*为布尔列表

在实际的数据处理中，根据条件来筛选是极其常见，此处传入loc的布尔列表与DataFrame长度相同，且列表为True的位置所对应的行会被选中，False则会被剔除。

In [19]:
df_demo.loc[df_demo.Weight>70].head()   #注意传入的写法，df_demo.Weight>70，是布尔列表,筛选体重大于70的数据

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N
Xiaopeng Zhou,Shanghai Jiao Tong University,Freshman,Male,74.0,N
Xiaofeng Sun,Tsinghua University,Senior,Male,71.0,N
Qiang Zheng,Shanghai Jiao Tong University,Senior,Male,87.0,N

前面所提到的传入元素列表，也可以通过isin方法返回的布尔列表等价写出，例如筛选出所有大一和大四的同学信息：

In [20]:
df_demo.loc[df_demo.Grade.isin(['Freshman','Senior'])].head() # 不难但要记住该用法

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaoli Qian,Tsinghua University,Freshman,Female,51.0,N
Qiang Chu,Shanghai Jiao Tong University,Freshman,Female,52.0,N

对于复合条件而言，可以用|（或），&（且），~（取反）的组合来实现，例如筛选出复旦大学中体重超过70kg的大四学生，或者北大学生中体重超过80kg的非大四学生：

In [21]:
condition_1_1 = df_demo.School =='Fudan University'
condition_1_2 = df_demo.Grade == 'Senior'
condition_1_3 = df_demo.Weight>70
condition_1 = condition_1_1 & condition_1_2 & condition_1_3
condition_2_1 = df_demo.School == 'Peking University'
condition_2_2 = df_demo.Grade == 'Senior'
condition_2_3 = df_demo.Weight > 80
condition_2 = condition_2_1 & (~condition_2_2) & condition_2_3
df_demo.loc[condition_1 | condition_2]

                           School     Grade Gender  Weight Transfer
Name
Qiang Han       Peking University  Freshman   Male    87.0        N
Chengpeng Zhou   Fudan University    Senior   Male    81.0        N
Changpeng Zhao  Peking University  Freshman   Male    83.0        N
Chengpeng Qian   Fudan University    Senior   Male    73.0        Y

select_dtypes是一个实用函数，它能够从表中选出相应类型的列，若要选出所有数值型的列，只需使用 .select_dtypes('number')

#### 【e】*为函数

这里的函数，必须以前面的四种合法形式之一为返回值，并且函数的输入值为DataFrame本身。假设仍然是上述复合条件筛选的例子，可以把逻辑写入一个函数中再返回，需要注意的是函数的形式参数x本质上即为DataFrame：

In [24]:
def condition(x):
    condition_1_1 = x.School =='Fudan University'
    condition_1_2 = x.Grade == 'Senior'
    condition_1_3 = x.Weight>70
    condition_1 = condition_1_1 & condition_1_2 & condition_1_3
    condition_2_1 = x.School == 'Peking University'
    condition_2_2 = x.Grade == 'Senior'
    condition_2_3 = x.Weight > 80
    condition_2 = condition_2_1 & (~condition_2_2) & condition_2_3
    result = condition_1 | condition_2
    return result
df_demo.loc[condition]

                           School     Grade Gender  Weight Transfer
Name
Qiang Han       Peking University  Freshman   Male    87.0        N
Chengpeng Zhou   Fudan University    Senior   Male    81.0        N
Changpeng Zhao  Peking University  Freshman   Male    83.0        N
Chengpeng Qian   Fudan University    Senior   Male    73.0        Y