In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('learn_pandas.csv',usecols=['School','Grade','Name','Gender','Weight','Transfer'])
df.head()   # uescols 仅读取列表里的这些列

,School,Grade,Name,Gender,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,46.0,N
1,Peking University,Freshman,Changqiang You,Male,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
3,Fudan University,Sophomore,Xiaojuan Sun,Female,41.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N

In [3]:
df_demo = df.set_index('Name')  # 将 Name 列设为索引
df_demo.head()

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaojuan Sun,Fudan University,Sophomore,Female,41.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N

此外，还支持使用lambda表达式，其返回值也同样必须是先前提到的四种形式之一：

In [4]:
df_demo.loc[lambda x:'Quan Zhao',lambda x:'Gender']

'Female'

由于函数无法返回如start：end：step的切片形式，故返回切片时要用slice对象进行包装：

In [5]:
df_demo.loc[lambda x:slice('Gaojuan You','Gaoqiang Qian')]

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaojuan You,Fudan University,Sophomore,Male,74.0,N
Xiaoli Qian,Tsinghua University,Freshman,Female,51.0,N
Qiang Chu,Shanghai Jiao Tong University,Freshman,Female,52.0,N
Gaoqiang Qian,Tsinghua University,Junior,Female,50.0,N

最后需要指出的是，对于Series也可以使用loc索引，其遵循的原则与DataFrame用于行筛选的loc[*]完全一致。

## 4.iloc索引器

iloc的使用与loc完全类似，只不过是针对位置进行筛选，在相应的*位置处一共也有五类合法对象，分别是：整数、整数列表、整数切片、布尔列表以及函数，函数的返回值必须是前面的四类合法对象中的一个，其输入同样也为DataFrame本书。

In [6]:
df_demo.iloc[1,1]# 筛选处第二行第二列

'Freshman'

In [7]:
df_demo.iloc[[0,1],[0,2]] # 筛选处前两行 第1、3列

                                       School  Gender
Name
Gaopeng Yang    Shanghai Jiao Tong University  Female
Changqiang You              Peking University    Male

In [8]:
df_demo.iloc[1:4,2:4] # 筛选第 2、3、4行 第3、4列  iloc不包含右端点

                Gender  Weight
Name
Changqiang You    Male    70.0
Mei Sun           Male    89.0
Xiaojuan Sun    Female    41.0

In [9]:
df_demo.iloc[lambda x:slice(1,4)] #传入切片为返回值的函数 即筛选出第2、3、4行

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaojuan Sun,Fudan University,Sophomore,Female,41.0,N

在使用布尔列表的时候要特别注意，不能传入Series而必须传入序列的values。因此，在使用布尔筛选的时候还是应当优先考虑loc的方式。

In [12]:
type(df_demo.Weight>80)

pandas.core.series.Series

In [16]:
type((df_demo.Weight>80).values)

numpy.ndarray

例如：筛选出体重超过80kg的学生：

In [17]:
df_demo.iloc[(df_demo.Weight>80).values]

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Qiang Zheng,Shanghai Jiao Tong University,Senior,Male,87.0,N
Qiang Han,Peking University,Freshman,Male,87.0,N
Chengpeng Zhou,Fudan University,Senior,Male,81.0,N
Feng Han,Shanghai Jiao Tong University,Sophomore,Male,82.0,N
Changpeng Zhao,Peking University,Freshman,Male,83.0,N
Chunli Zhao,Shanghai Jiao Tong University,Freshman,Male,83.0,N
Gaoli Zhao,Shanghai Jiao Tong University,Senior,Male,83.0,N

对Series而言同样也可以通过iloc返回相应位置的值或子序列：

In [18]:
df_demo.School.iloc[1]

'Peking University'

In [19]:
df_demo.School.iloc[1:5:2]

Name
Changqiang You    Peking University
Xiaojuan Sun       Fudan University
Name: School, dtype: object

## 5.query方法

在pandas中，支持把字符串形式的查询表达式传入query方法来查询数据，其表达式的执行结果必须返回布尔列表。在进行复杂索引时，由于这种检索方式无需像普通方法一样重复使用 DataFrame 的名字来引用列名，一般而言会使代码长度在不降低可读性的前提下有所减少。
例如：将loc一节中的复合条件查询例子可以如下改写：

In [22]:
df.query('((School == "Fudan University")&'
          '(Grade == "Senior")&'
          '(Weight > 70))|'
         '((School == "Peking University")&'
          '(Grade != "Senior")&'
          '(Weight > 80))')   # 单双引号也是问题 人主观识别而机器客观识别不了

                School     Grade            Name Gender  Weight Transfer
38   Peking University  Freshman       Qiang Han   Male    87.0        N
66    Fudan University    Senior  Chengpeng Zhou   Male    81.0        N
99   Peking University  Freshman  Changpeng Zhao   Male    83.0        N
131   Fudan University    Senior  Chengpeng Qian   Male    73.0        Y

在query表达式中，帮用户注册了所有来自DataFrame的列名，所有属于该Series的方法都可以被调用，和正常的函数调用并没有区别，如查询体重超过均值的学生：

In [23]:
df.query('Weight > Weight.mean()').head()

,School,Grade,Name,Gender,Weight,Transfer
1,Peking University,Freshman,Changqiang You,Male,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N
10,Shanghai Jiao Tong University,Freshman,Xiaopeng Zhou,Male,74.0,N
14,Tsinghua University,Senior,Xiaomei Zhou,Female,57.0,N

In [24]:
df.Weight.mean()

55.01587301587302

query中引用带空格的列名，需要使用‘col name’的方式进行使用。

同时，在query中还注册了若干英文的字面用法，帮助提高可读性，例如：or，and，is in，not in。例如，筛选出男生中不是大一大二的学生：

In [25]:
df.query('(Grade not in ["Freshman","Sophomore"]) and '
         '(Gender == "Male")').head()

,School,Grade,Name,Gender,Weight,Transfer
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
16,Tsinghua University,Junior,Xiaoqiang Qin,Male,68.0,N
17,Tsinghua University,Junior,Peng Wang,Male,65.0,N
18,Tsinghua University,Senior,Xiaofeng Sun,Male,71.0,N
21,Shanghai Jiao Tong University,Senior,Xiaopeng Shen,Male,62.0,NaN

此外，在字符串中出现与列表的比较时，==和!= 分别表示元素出现在列表和没有出现在列表，等价于is in和 not in，例如查询所有大三和大四的学生：

In [26]:
df.query('Grade ==["Junior","Senior"]').head()

,School,Grade,Name,Gender,Weight,Transfer
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
7,Tsinghua University,Junior,Gaoqiang Qian,Female,50.0,N
9,Peking University,Junior,Juan Xu,Female,NaN,N
11,Tsinghua University,Junior,Xiaoquan Lv,Female,43.0,N
12,Shanghai Jiao Tong University,Senior,Peng You,Female,48.0,NaN

In [31]:
df.query('Grade in (["Junior","Senior"])').head()

,School,Grade,Name,Gender,Weight,Transfer
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
7,Tsinghua University,Junior,Gaoqiang Qian,Female,50.0,N
9,Peking University,Junior,Juan Xu,Female,NaN,N
11,Tsinghua University,Junior,Xiaoquan Lv,Female,43.0,N
12,Shanghai Jiao Tong University,Senior,Peng You,Female,48.0,NaN

In [35]:
df.query('Grade.isin (["Junior","Senior"])').head()

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [34]:
df.query('Grade.isin (["Junior","Senior"])',engine='python').head()

,School,Grade,Name,Gender,Weight,Transfer
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,89.0,N
7,Tsinghua University,Junior,Gaoqiang Qian,Female,50.0,N
9,Peking University,Junior,Juan Xu,Female,NaN,N
11,Tsinghua University,Junior,Xiaoquan Lv,Female,43.0,N
12,Shanghai Jiao Tong University,Senior,Peng You,Female,48.0,NaN

In [37]:
df['Grade'].isin(['Junior','Senior']).head()

0    False
1    False
2     True
3    False
4    False
Name: Grade, dtype: bool

isin是series的方法，in 是query的关键词。

对于query中的字符串，如果要引用外部变量，只需在变量名前加@符号。例如，取出体重位于70-80kg之间的学生：

In [42]:
low,high = 70,80
df.query('Weight.between(@low, @high)',engine = 'python').head()

,School,Grade,Name,Gender,Weight,Transfer
1,Peking University,Freshman,Changqiang You,Male,70.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,74.0,N
10,Shanghai Jiao Tong University,Freshman,Xiaopeng Zhou,Male,74.0,N
18,Tsinghua University,Senior,Xiaofeng Sun,Male,71.0,N
35,Peking University,Freshman,Gaoli Zhao,Male,78.0,N

## 6.随机抽样