In [1]:
import numpy as np
import pandas as pd

## 一、缺失值的统计和删除
## 1.缺失信息的统计

缺失数据可以使用 isna 或 isnull （两个函数没有区别）来查看每个单元格是否缺失，结合 mean 可以计算出每列缺失值的比例：

In [3]:
df = pd.read_csv('learn_pandas.csv',
                 usecols=['Grade','Name','Gender','Height','Weight','Transfer'])
df.head()

       Grade            Name  Gender  Height  Weight Transfer
0   Freshman    Gaopeng Yang  Female   158.9    46.0        N
1   Freshman  Changqiang You    Male   166.5    70.0        N
2     Senior         Mei Sun    Male   188.9    89.0        N
3  Sophomore    Xiaojuan Sun  Female     NaN    41.0        N
4  Sophomore     Gaojuan You    Male   174.0    74.0        N

In [4]:
df.isna().head() # 判断是否为 缺失值，返回布尔值

   Grade   Name  Gender  Height  Weight  Transfer
0  False  False   False   False   False     False
1  False  False   False   False   False     False
2  False  False   False   False   False     False
3  False  False   False    True   False     False
4  False  False   False   False   False     False

In [5]:
df.isnull().mean() # 查看缺失的比例

Grade       0.000
Name        0.000
Gender      0.000
Height      0.085
Weight      0.055
Transfer    0.060
dtype: float64

如果想要查看某一列缺失或非缺失的行，可以利用Series上的 isna 或 notna 进行布尔索引。例如，查看身高缺失的行：

In [6]:
df[df.Height.isna()].head()

        Grade          Name  Gender  Height  Weight Transfer
3   Sophomore  Xiaojuan Sun  Female     NaN    41.0        N
12     Senior      Peng You  Female     NaN    48.0      NaN
26     Junior     Yanli You  Female     NaN    48.0        N
36   Freshman  Xiaojuan Qin    Male     NaN    79.0        Y
60   Freshman    Yanpeng Lv    Male     NaN    65.0        N

如果想要同时对几个列，检索出全部为缺失或者至少有一个缺失或者没有缺失的行，可以使用 isna,notna 和 any，all的组合。例如，对身高、体重和转系情况这3列分别进行这三种情况的检索：

In [9]:
sub_set = df[['Height','Weight','Transfer']]
df[sub_set.isna().all(1)]  # 横向上 身高、体重、转系情况 均为缺失值

      Grade          Name Gender  Height  Weight Transfer
102  Junior  Chengli Zhao   Male     NaN     NaN      NaN

In [10]:
df[sub_set.isnull().any(1)]  #横向上，身高、体重、转系情况，存在一个缺失值的

         Grade           Name  Gender  Height  Weight Transfer
3    Sophomore   Xiaojuan Sun  Female     NaN    41.0        N
9       Junior        Juan Xu  Female   164.8     NaN        N
12      Senior       Peng You  Female     NaN    48.0      NaN
21      Senior  Xiaopeng Shen    Male   166.0    62.0      NaN
26      Junior      Yanli You  Female     NaN    48.0        N
36    Freshman   Xiaojuan Qin    Male     NaN    79.0        Y
60    Freshman     Yanpeng Lv    Male     NaN    65.0        N
61   Sophomore   Xiaopeng Qin    Male   172.8     NaN        N
69      Junior    Chunquan Xu  Female   162.1    54.0      NaN
76   Sophomore     Yanquan Lv    Male   174.6     NaN        N
84      Junior     Yanjuan Lv  Female   159.3    49.0      NaN
87      Senior      Feng Yang  Female   167.0    52.0      NaN
91   Sophomore    Yanfeng Han    Male     NaN     NaN        N
98   Sophomore   Xiaojuan Chu    Male     NaN    68.0        N
102     Junior   Chengli Zhao    Male     NaN     NaN      NaN
103     Senior       Mei Chen  Female   153.6     NaN        N
111   Freshman     Gaoquan Xu  Female     NaN    52.0        N
119   Freshman     Peng Zhang  Female   163.1     NaN        N
120  Sophomore       Peng Han  Female   147.8    34.0      NaN
122     Junior      Qiang Sun  Female   160.8     NaN        N
123     Senior      Qiang Shi  Female   157.7     NaN      NaN
130     Senior       Mei Feng  Female     NaN    51.0        N
132     Senior  Chunpeng Qian  Female   161.6     NaN        N
133   Freshman    Gaojuan Qin  Female     NaN    41.0        N
145     Junior    Gaoquan Chu  Female     NaN    51.0        N
147     Senior       Juan You    Male   169.2    69.0      NaN
152     Junior    Chengli Sun    Male     NaN    62.0        N
154     Junior    Yanpeng Han  Female     NaN    44.0        N
168     Senior       Gaoli Wu  Female   155.7    47.0      NaN
176     Junior  Xiaopeng Zhou  Female   160.2    51.0      NaN
178  Sophomore         Li Qin    Male     NaN    76.0        N
181  Sophomore    Yanjuan You    Male     NaN    55.0        N
186   Freshman   Yanjuan Zhao  Female     NaN    53.0        N
190     Junior    Changli Qin    Male   177.3     NaN        N
194     Senior    Yanmei Qian  Female   160.3    49.0      NaN

In [11]:
df[sub_set.notna().all(1)] #没有缺失值的

         Grade            Name  Gender  Height  Weight Transfer
0     Freshman    Gaopeng Yang  Female   158.9    46.0        N
1     Freshman  Changqiang You    Male   166.5    70.0        N
2       Senior         Mei Sun    Male   188.9    89.0        N
4    Sophomore     Gaojuan You    Male   174.0    74.0        N
5     Freshman     Xiaoli Qian  Female   158.0    51.0        N
..         ...             ...     ...     ...     ...      ...
195     Junior    Xiaojuan Sun  Female   153.9    46.0        N
196     Senior         Li Zhao  Female   160.9    50.0        N
197     Senior  Chengqiang Chu  Female   153.9    45.0        N
198     Senior   Chengmei Shen    Male   175.3    71.0        N
199  Sophomore     Chunpeng Lv    Male   155.7    51.0        N

[165 rows x 6 columns]

## 2.缺失信息的删除

数据处理中经常需要根据缺失值的大小、比例或其他特征来进行 行样本或列特征的删除， pandas中提供了 dropna 函数来进行操作。

dropna 的主要参数为轴方向（默认 axis = 0，即删除 行）、删除方式 how、删除的非缺失值个数阀值 thresh（ 非缺失值 没有达到这个数量的相应维度会被删除）、备选的删除子集 subset，其中 how 主要有 any 和 all 两种参数可以选。

例如：删除身高体重至少有一个缺失的行：

In [14]:
res = df.dropna(how = 'any',subset=['Height','Weight'])
res.shape

(174, 6)

例如，删除超过15个缺失值的列：

In [15]:
df.dropna(axis=1,thresh=df.shape[0]-15) # df.shape[0]-15 == 185, 
                                        # 非缺失值的个数达到185才会被保留，否则删除
                                        # 这里 身高列 被删除

         Grade            Name  Gender  Weight Transfer
0     Freshman    Gaopeng Yang  Female    46.0        N
1     Freshman  Changqiang You    Male    70.0        N
2       Senior         Mei Sun    Male    89.0        N
3    Sophomore    Xiaojuan Sun  Female    41.0        N
4    Sophomore     Gaojuan You    Male    74.0        N
..         ...             ...     ...     ...      ...
195     Junior    Xiaojuan Sun  Female    46.0        N
196     Senior         Li Zhao  Female    50.0        N
197     Senior  Chengqiang Chu  Female    45.0        N
198     Senior   Chengmei Shen    Male    71.0        N
199  Sophomore     Chunpeng Lv    Male    51.0        N

[200 rows x 5 columns]

当然，不用 dropna 同样是可行的，例如上述的两个操作，也可以使用布尔索引来完成：

In [16]:
res = df.loc[df[['Height','Weight']].notna().all(1)]
res.shape

(174, 6)

In [18]:
res = df.loc[:,~(df.isna().sum()>15)]
res.head()

       Grade            Name  Gender  Weight Transfer
0   Freshman    Gaopeng Yang  Female    46.0        N
1   Freshman  Changqiang You    Male    70.0        N
2     Senior         Mei Sun    Male    89.0        N
3  Sophomore    Xiaojuan Sun  Female    41.0        N
4  Sophomore     Gaojuan You    Male    74.0        N

## 二、缺失值的填充和插值
## 1.利用 fillna 进行填充

在 fillna 中有三个参数是常用的：value、method、limit。其中，value为填充值，可以是标量，也可以是索引到元素的字典映射；method 为填充方法，有用前面的元素填充 ffill 和用后面的元素填充 bfill 两种类型，limit 参数表示连续缺失值的最大填充次数：

In [19]:
s = pd.Series([np.nan,1,np.nan,np.nan,2,np.nan],index=list('aaabcd'))
s

a    NaN
a    1.0
a    NaN
b    NaN
c    2.0
d    NaN
dtype: float64

In [20]:
s.fillna(method='ffill') # f = front 表示用前面的值来填充缺失值

a    NaN
a    1.0
a    1.0
b    1.0
c    2.0
d    2.0
dtype: float64

In [21]:
s.fillna(method='ffill',limit=1) # 用前面的值进行填充，连续出现的缺失，只填充一次

a    NaN
a    1.0
a    1.0
b    NaN
c    2.0
d    2.0
dtype: float64

In [22]:
s.fillna(s.mean()) #s.mean() = (1+2) / 2 ,s.mean() 为标量

a    1.5
a    1.0
a    1.5
b    1.5
c    2.0
d    1.5
dtype: float64

In [23]:
s.fillna({'a':100,'d':200})

a    100.0
a      1.0
a    100.0
b      NaN
c      2.0
d    200.0
dtype: float64

有时为了更加合理地填充，需要先进行分组后再操作。例如，根据年纪进行身高的均值填充：

In [24]:
df.groupby('Grade')['Height'].transform(lambda x:x.fillna(x.mean())).head()

0    158.900000
1    166.500000
2    188.900000
3    163.075862
4    174.000000
Name: Height, dtype: float64

## 2.插值函数

## 三、Nullable类型
## 1.缺失记号及其缺陷

在 python 中的缺失值用 None 表示，该元素除了等于自己本身之外，与其他任何元素不相等：

In [25]:
None == None

True

In [26]:
None == False

False

In [27]:
None == []

False

In [28]:
None == ''

False

在numpy中利用 np.nan 来表示缺失值，该元素除了不和其他任何元素相等之外，和自身的比较的结果也返回 False：

In [29]:
np.nan == np.nan

False

In [30]:
np.nan == None

False

In [31]:
np.nan == False

False

值得注意的是，虽然在对缺失序列或表格的元素进行比较操作的时候，np.nan 的对应位置会返回 False，但是在使用 equals 函数进行两张表或两个序列的相同性检验时，会自动跳过两侧表都是缺失值的位置，直接返回True：

In [32]:
s1 = pd.Series([1,np.nan])
s1

0    1.0
1    NaN
dtype: float64

In [33]:
s2 = pd.Series([1,2])
s2

0    1
1    2
dtype: int64

In [34]:
s3 = pd.Series([1,np.nan])
s3

0    1.0
1    NaN
dtype: float64

In [35]:
s1 ==1

0     True
1    False
dtype: bool

In [36]:
s1.equals(s2)

False

In [37]:
s1.equals(s3)

True

在时间序列的对象中，pandas利用 pd.NaT来指代缺失值，它的作用和np.nan是一致的：

In [38]:
pd.to_timedelta(['30s',np.nan])

TimedeltaIndex(['0 days 00:00:30', NaT], dtype='timedelta64[ns]', freq=None)

In [39]:
pd.to_datetime(['20200101',np.nan])

DatetimeIndex(['2020-01-01', 'NaT'], dtype='datetime64[ns]', freq=None)

那么为什么要引入pd.NaT 来表示时间对象中的缺失呢？仍然以 np.nan 的形式存放会有什么问题？ 在pandas中可以看到 object 类型的对象，而 object 是一种混杂对象类型，如果出现了多个类型的元素同时存储在Series中，它的类型就会变成 object。例如，同时存放整数和 字符串的列表：

In [40]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [41]:
pd.Series(['a','b'])  # 纯字符串 也会返回 object类型

0    a
1    b
dtype: object

In [42]:
pd.Series([1,'b'])

0    1
1    b
dtype: object

NaT问题的根源来自 np.nan 的本身是一种浮点类型，而如果浮点和时间类型混合存储，如果不设计新的内置缺失类型来处理，就会变成含糊不清的 object 类型，这显然是不希望看到的。