In [2]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

## 1.文件的读取和写入

pandas可以读取的文件格式有很多，这里主要介绍读取csv，excel，txt文件。

In [5]:
df_csv = pd.read_csv(r'my_csv.csv')
df_csv

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [6]:
df_txt = pd.read_table('my_table.txt')
df_txt

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [10]:
df_excel = pd.read_excel('my_excel.xls')
df_excel  # 尝试修改后缀名依然error

XLRDError: Excel xlsx file; not supported

这里有一些常用的公共参数，header=None表示第一行不作为列名（默认是列名），index_col表示把某一列或几列作为索引(行索引)，usecols表示读取列的集合，默认读取所有的列，parse_dates表示需要转化为时间的列，nrows表示读取的数据行数。

In [11]:
pd.read_table('my_table.txt')

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [12]:
pd.read_table('my_table.txt',header=None)

      0     1     2                3
0  col1  col2  col3             col4
1     2     a   1.4   apple 2020/1/1
2     3     b   3.4  banana 2020/1/2
3     6     c   2.5  orange 2020/1/5
4     5     d   3.2   lemon 2020/1/7

In [13]:
pd.read_csv('my_csv.csv',index_col=['col1','col2'])

           col3    col4      col5
col1 col2
2    a      1.4   apple  2020/1/1
3    b      3.4  banana  2020/1/2
6    c      2.5  orange  2020/1/5
5    d      3.2   lemon  2020/1/7

In [14]:
pd.read_csv('my_csv.csv',parse_dates=['col5'])

   col1 col2  col3    col4       col5
0     2    a   1.4   apple 2020-01-01
1     3    b   3.4  banana 2020-01-02
2     6    c   2.5  orange 2020-01-05
3     5    d   3.2   lemon 2020-01-07

In [15]:
pd.read_csv('my_csv.csv',nrows=2) #nrows = n  表示只读取前n行

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2

在读取txt文件时，经常遇到分隔符非空格的情况，read_table有一个分割参数sep，它使得用户可以自定义分割符号，进行txt数据的读取。例如，下面读取的表以｜｜｜｜为分隔符：

In [16]:
pd.read_table('my_table_special_sep.txt')

              col1 |||| col2
0  TS |||| This is an apple.
1    GQ |||| My name is Bob.
2         WT |||| Well done!
3    PT |||| May I help you?

结果并不是理想的，这个时候可以使用sep参数，同时需要指定引擎为python：

In [19]:
pd.read_table('my_table_special_sep.txt',sep = r'||||',engine='python') # r''这样的 无效，需要\ 进行转义

                        Unnamed: 0  c  o  l  1     | |.1  |.2   |.3    .1  \
NaN T S   | | | |   T h          i  s     i  s     a   n          a     p
    G Q   | | | |   M y             n  a  m  e     i   s          B     o
    W T   | | | |   W e          l  l     d  o  n  e   !  NaN  None  None
    P T   | | | |   M a          y     I     h  e  l   p          y     o

                          c.1   o.1   l.1     2  Unnamed: 15
NaN T S   | | | |   T h     p     l     e     .          NaN
    G Q   | | | |   M y     b     .   NaN  None          NaN
    W T   | | | |   W e  None  None  None  None          NaN
    P T   | | | |   M a     u     ?   NaN  None          NaN

In [18]:
pd.read_table('my_table_special_sep.txt',sep = '\|\|\|\|',engine='python')

  col1                 col2
0   TS    This is an apple.
1   GQ      My name is Bob.
2   WT           Well done!
3   PT      May I help you?

## 2.数据的写入

一般在数据写入中，最常用的操作是把index设置为False，特别当索引没有特殊意义的时候，这样的行为能把索引在保存的时候去掉。

In [ ]:
df_csv.to_csv('my_csv_saved.csv',index=False)
df_excel.to_excel('my_excel_saved.xls',index = False)

pandas中没有定义to_table函数，但是to_csv可以保存txt文件，并且允许自定义分隔符，常用制表符\t分割

In [ ]:
df_txt.to_csv('my_txt_saved.txt',sep = '\t',index = Flase)

## 二、基本数据结构

pandas中具有两种基本的数据存储结构，存储一维values的Serise和存储二维values的DataFrame，在这两种结构上定义了很多的属性和方法。

## 1.Series
#### Series一般由四个部分组成，分别是序列的值data、索引index、存储类型dtype、序列的名字name。其中，索引也可以指定它的名字，默认为空。

In [28]:
s = pd.Series(data = [100,'a',{'dict':5}],
              index = pd.Index(['id1',20,'third'],name='my_index'),
              dtype = 'object',   # object 代表了一种混合类型
              name = 'my_name') 
s

my_index
id1              100
20                 a
third    {'dict': 5}
Name: my_name, dtype: object

In [27]:
s = pd.Series(data = [100,'a',{'dict':5}],
              index = ['id1',20,'third'],
              dtype = 'object',
              name = 'my_name') 
s

id1              100
20                 a
third    {'dict': 5}
Name: my_name, dtype: object

对于这些属性，可以通过.的方式来获取：

In [23]:
s.values

array([100, 'a', {'dict': 5}], dtype=object)

In [25]:
s.index

Index(['id1', 20, 'third'], dtype='object', name='my_index')

In [29]:
s.dtype

dtype('O')

In [30]:
s.name

'my_name'

In [31]:
s.shape  #获取序列的长度

(3,)

索引是pandas中最重要的概念之一。如果想要取出单个索引对应的值，可以通过[index_item]取出：

In [32]:
s['third']

{'dict': 5}

In [35]:
s[2]

KeyError: 2

In [36]:
s[0]

KeyError: 0

## 2.DataFrame
#### DataFrame在Series的基础上增加了列索引，一个数据框可以由二维的data与行列索引来构造：

In [37]:
data = [[1,'a','1.2'],[2,'b','2.2'],[3,'c',3.2]]
df = pd.DataFrame(data = data,
                  index = ['row_%d'%i for i in range(3)],
                  columns=['col_0','col_1','col_2'])
df

       col_0 col_1 col_2
row_0      1     a   1.2
row_1      2     b   2.2
row_2      3     c   3.2

但一般而言，更多的时候会采用从列索引名到数据的映射来构造数据，同时再加上行索引：

In [38]:
df = pd.DataFrame(data = {'col_0':[1,2,3],'col_1':list('abc'),'col_2':[1.2,2.2,3.2]},
                  index = ['row_%d'%i for i in range(3)])
df

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

由于这种映射关系，在DataFrame中可以用[col_name]和[col_list]来取出相应的列与由多个列组成的表，结果分别为Series和DataFrame：

In [39]:
df['col_0']

row_0    1
row_1    2
row_2    3
Name: col_0, dtype: int64

In [49]:
df['col_0'].dtype

dtype('int64')

In [43]:
type(df['col_0'])

pandas.core.series.Series

In [44]:
df[['col_0','col_1']]

       col_0 col_1
row_0      1     a
row_1      2     b
row_2      3     c

In [48]:
df[['col_0','col_1']].dtypes

col_0     int64
col_1    object
dtype: object

In [50]:
type(df[['col_0','col_1']])

pandas.core.frame.DataFrame

与Series类似，在数据框中同样可以取出相应的属性：

In [51]:
df.values

array([[1, 'a', 1.2],
       [2, 'b', 2.2],
       [3, 'c', 3.2]], dtype=object)

In [52]:
df.value_counts

<bound method DataFrame.value_counts of        col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2>

In [53]:
df.index

Index(['row_0', 'row_1', 'row_2'], dtype='object')

In [54]:
df.columns

Index(['col_0', 'col_1', 'col_2'], dtype='object')

In [55]:
df.dtypes  # 返回的值为相应列数据类型的Series

col_0      int64
col_1     object
col_2    float64
dtype: object

In [56]:
df.shape

(3, 3)

In [57]:
df.T   #转置

      row_0 row_1 row_2
col_0     1     2     3
col_1     a     b     c
col_2   1.2   2.2   3.2

## 三、常用基本函数

In [58]:
df = pd.read_csv('learn_pandas.csv')
df.head()

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019/10/5,0:04:34
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019/9/12,0:05:22
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N,2,2020/1/3,0:04:08
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N,2,2019/11/6,0:05:22

In [59]:
df.columns

Index(['School', 'Grade', 'Name', 'Gender', 'Height', 'Weight', 'Transfer',
       'Test_Number', 'Test_Date', 'Time_Record'],
      dtype='object')

In [60]:
df = df[df.columns[:7]]

In [62]:
df.head()

,School,Grade,Name,Gender,Height,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N

## 1.汇总函数

head()，tail()函数分别表示返回表或序列的前n行和后n行，n默认为5:

In [63]:
df.head(2)

,School,Grade,Name,Gender,Height,Weight,Transfer
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N

In [64]:
df.tail(2)

,School,Grade,Name,Gender,Height,Weight,Transfer
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,175.3,71.0,N
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,155.7,51.0,N

info,describe分别返回表的信息概况和表中数值列！对应的主要统计量：

In [65]:
df.info

<bound method DataFrame.info of                             School      Grade            Name  Gender  Height  \
0    Shanghai Jiao Tong University   Freshman    Gaopeng Yang  Female   158.9
1                Peking University   Freshman  Changqiang You    Male   166.5
2    Shanghai Jiao Tong University     Senior         Mei Sun    Male   188.9
3                 Fudan University  Sophomore    Xiaojuan Sun  Female     NaN
4                 Fudan University  Sophomore     Gaojuan You    Male   174.0
..                             ...        ...             ...     ...     ...
195               Fudan University     Junior    Xiaojuan Sun  Female   153.9
196            Tsinghua University     Senior         Li Zhao  Female   160.9
197  Shanghai Jiao Tong University     Senior  Chengqiang Chu  Female   153.9
198  Shanghai Jiao Tong University     Senior   Chengmei Shen    Male   175.3
199            Tsinghua University  Sophomore     Chunpeng Lv    Male   155.7

     Weight Transfer
0      46.0        N
1      70.0        N
2      89.0        N
3      41.0        N
4      74.0        N
..      ...      ...
195    46.0        N
196    50.0        N
197    45.0        N
198    71.0        N
199    51.0        N

[200 rows x 7 columns]>

In [66]:
df.info()  # info() 的显示效果显然要优于 info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   School    200 non-null    object
 1   Grade     200 non-null    object
 2   Name      200 non-null    object
 3   Gender    200 non-null    object
 4   Height    183 non-null    float64
 5   Weight    189 non-null    float64
 6   Transfer  188 non-null    object
dtypes: float64(2), object(5)
memory usage: 11.1+ KB

In [67]:
df.describe() #数值列！！

           Height      Weight
count  183.000000  189.000000
mean   163.218033   55.015873
std      8.608879   12.824294
min    145.400000   34.000000
25%    157.150000   46.000000
50%    161.900000   51.000000
75%    167.500000   65.000000
max    193.900000   89.000000

## 2.特征统计函数

在 Series 和 DataFrame 上定义了许多统计函数，最常见的是 sum（和）, mean（平均数）, median（中位数）, var（方差）, std（标准差）, max, min 。例如，选出身高和体重列进行演示：

In [68]:
df_demo = df[['Height','Weight']]
df_demo.head()

   Height  Weight
0   158.9    46.0
1   166.5    70.0
2   188.9    89.0
3     NaN    41.0
4   174.0    74.0

In [69]:
df_demo.mean()

Height    163.218033
Weight     55.015873
dtype: float64

In [70]:
df_demo.max()

Height    193.9
Weight     89.0
dtype: float64

此外，需要介绍的是quantile,count,idxmax这三个函数，它们分别返回的是分位数、非缺失值个数、最大值对应的索引：

In [71]:
df_demo.quantile(0.75)

Height    167.5
Weight     65.0
Name: 0.75, dtype: float64

In [72]:
df_demo.idxmax()

Height    193
Weight      2
dtype: int64

In [74]:
df_demo.idxmin()

Height    143
Weight     49
dtype: int64

In [73]:
df_demo.count()

Height    183
Weight    189
dtype: int64

上面这些所有的函数，由于操作后返回的是标量，所以又称为聚合函数，它们有一个公共参数 axis ，默认为0代表逐列聚合，如果设置为1则表示逐行聚合：

In [75]:
df_demo.mean(axis=1).head() # 行方向上  身高和体重的均值没什么意义

0    102.45
1    118.25
2    138.95
3     41.00
4    124.00
dtype: float64

## 3.唯一值函数

对序列使用unique和nunique可以分别得到其唯一值组成的列表和唯一值的个数：

In [76]:
df['School'].unique()

array(['Shanghai Jiao Tong University', 'Peking University',
       'Fudan University', 'Tsinghua University'], dtype=object)

In [77]:
df['School'].nunique()

4

value_counts 可以的唯一值和其对应出现的频数：

In [79]:
df['School'].value_counts()

Tsinghua University              69
Shanghai Jiao Tong University    57
Fudan University                 40
Peking University                34
Name: School, dtype: int64